html {
  touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFEE;
	font-size: 12px;
	overflow: auto;
}

#main {
	width: 100%;
	height: 100%;
}

#content {
	width: 100%;
}

#loveHeart {
  text-align: center;
}

#elapseClock {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#messages{
	font-family: "sans-serif";
	width: 100%;
	font-size: 16px;
  color:#666;
	width: 100%;
  opacity: 0;
}

#elapseClock .digit{
	font-family: "digit";
	font-size: 26px;
}

.bell {
  width: 2rem;
  animation: bellshake 2.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  backface-visibility: hidden;
  transform-origin: top right;
}

@keyframes bellshake {
  0% {
    transform: rotate(0);
  }
  3% {
    transform: rotate(5deg);
  }
  7% {
    transform: rotate(-5deg);
  }
  11% {
    transform: rotate(4deg);
  }
  15% {
    transform: rotate(-4deg);
  }
  18% {
    transform: rotate(2deg);
  }
  21% {
    transform: rotate(-2deg);
  }
  23% {
    transform: rotate(1deg);
  }
  25%, 100% {
    transform: rotate(0);
  }
}

#copyright{
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#666;
  position: absolute;
  opacity: 0;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}
